node_modules
heart
heartsFolder
config.yml
myDocker.yml
results/*
test-results/*
# Ignore everything in the tmp folder
tmp/*
# Except for the tmp directory itself
!tmp/
screenshots/*
!screenshots/
mw/*
!mw/.gitkeep
# Log files
*.log
# Operating system files
.DS_Store
# IDE files
.vscode/
.idea/
screenshots/*
!screenshots/
test-results/*
!test-results/
