node_modules
heart
heartsFolder
config.yml
myDocker.yml
results/*
!results/
!results/screenshots/
test-results/*
# Ignore everything in the tmp folder
tmp/*
# Except for the tmp directory itself
!tmp/
mw/*
!mw/.gitkeep
# Log files
*.log
# Operating system files
.DS_Store
# IDE files
.vscode/
.idea/
test-results/*
!test-results/
