name: Testomat iOS

on:
  workflow_dispatch:
    inputs:
      build_ios_app:
        description: 'Build new iOS App (true - build, false - use latest version)'
        required: false
        default: true
        type: boolean
      grep:
        description: 'tests to grep '
        required: false
        default: ''
      run:
        required: false
      testomatio:
        required: false


jobs:

  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: Start Testomat run
        env:
          TESTOMATIO: "${{ github.event.inputs.testomatio }}"
          TESTOMATIO_RUN: "${{ github.event.inputs.run }}"
        run: npx -y -p @testomatio/reporter start-test-run --launch

  trigger-build:
    runs-on: ubuntu-latest
    needs: prepare
    
    steps:
      - name: Trigger and Wait for Build IPA
        if: ${{ inputs.build_ios_app == true }}
        uses: convictional/trigger-workflow-and-wait@v1.6.5
        with:
          owner: anyproto
          repo: anytype-swift
          workflow_file_name: ipa.yaml
          ref: develop
          github_token: ${{ secrets.ANY_CLA_TOKEN }}
          client_payload: '{ "build_type": "dev" }'
          wait_interval: 30

  tests:
    runs-on: [self-hosted, iOS]
    needs: trigger-build

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Set Xcode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '16.2'

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Setup Appium
        run: |
          npm install -g appium@2.12.0
          appium &
      
      - name: Download App
        run: |
          if [ "${{ inputs.url_for_build }}" != "" ]; then
            make download_app_ios ${{ inputs.url_for_build }}
          else
            make download_latest_app_ios
          fi
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Run Simulators
        run: make run-ios-simulators

      - name: Run iOS Smoke
        run: npm run test:ios:ci
        continue-on-error: true
        env:
          TESTOMATIO: "${{ github.event.inputs.testomatio }}"
          TESTOMATIO_RUN: "${{ github.event.inputs.run }}"
          TESTOMATIO_GREP: "${{ github.event.inputs.grep }}"
          TESTOMATIO_PROCEED: 1

      - name: Upload Results
        uses: actions/upload-artifact@v4
        with:
          name: Results
          path: ./results
        
  finalize:
    needs: tests
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Finish Testomat run
        env:
          TESTOMATIO: "${{ github.event.inputs.testomatio }}"
          TESTOMATIO_RUN: "${{ github.event.inputs.run }}"
        run: npx -y -p @testomatio/reporter start-test-run --finish